* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}
html{
	scroll-behavior: smooth;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 2%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	height: 70px;
	width: 240px;
}
.nav-links{
	flex: 1;
	text-align: right;
	margin-right: 40px;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	
}
.nav-links ul li a{
	color: white;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	transition: 0.5s;
}
.nav-links ul li a:hover{
	color: #ff8566;
	transform: scale(1.2)
}
.scroll{
	top: calc(50% - 80px);
}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.text-box h1{
	font-size: 65px;
}
.text-box h3{
	margin: 10px 0 40px;
	font-size: 24px;  
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 12px 34px;
	font-size: 13px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 30px;
	position: relative;
	cursor: pointer;  
}
.hero-btn:hover{
	border: 1px solid tomato;
	background: tomato;
	transition: 0.5s; 
}
nav .fa{
	display: none;
}
.features{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

h1{
  font-size: 38px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 18px;
  font-weight: 300;
  line-height:22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box; 
  transition: 0.5s;
}
.course-col h3{
  font-size: 20px;
}
.course-col:hover{
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: tomato;
		height: 100vh;
		width: 200px;
		top: 0;
		right:-200px;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}
	nav .fa{
		display: block;
		color: #fff;
		marker: 10px;
		font-size: 22px;
		cursor: pointer; 
	}
	.nav-links{
		padding: 30px;
	}
}

/*-----------------Dashboard, Students, Lectures page------------*/

.lecture-head{
  width: 80%;
  margin: auto;
  padding-top: 60px;
  text-align: center;
  transform: translate(30px);
}
.lecture-head-l{
  width: 80%;
  margin: auto;
  padding-top: 60px;
  text-align: center;
  transform: translate(20px);
}
.lecture-head-l h1{
	transform: translate(-10px);
}

h1{
  font-size: 38px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 18px;
  font-weight: 300;
  line-height:22px;
  padding: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  position:absolute; left:400px;     /*Move the table to right*/
  margin-top: 60px;                  /*Move the table downwards*/
}

td, th {
  border: None;
  text-align: left;
  padding: 10px;
  font-size:18px;
}

th {
  color:tomato;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.btn2{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box; 
  transition: 0.5s;
}
.btn2 h3{
  font-size: 20px;
}
.btn2:hover{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.lect-form{
  padding-top: 20px; 
  width: 40%;
  transform: translate(80%);
}
.table-stu{
	width: 60%;
  transform: translate(20%);
}
.submit-btn-l{
	width: 40%;
	padding: 10px 30px;
	cursor: pointer;
	color: white;
	display: block;
	margin: 30px 10px;
	background: tomato;
	border-radius: 30px;
	text-decoration: none;
	align-items: center;
	transform: translate(67%);
}
.submit-btn-l:active{
	background: #0099ff;
}
/*-------Contact-------*/
.contact{
  width: 80%;
  text-align: center;
  padding-top: 50px;
  margin: auto; 
}
.contact-box{
  flex-basis: 60%;
  padding: 10px;
  font-size: 20px;
}
.input-row{
	margin-left: 200px;
	font-size: 17px;
}

.name{
  width: 20%;
  padding: 15px;
  background-color: #fff3f3;
  border-radius: 30px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  transform: translate(-30%);
  text-align: center;
}
.name:focus {
  background-color: #fff;
  border-bottom: 2px solid tomato;
}
.email{
  width: 20%;
  padding: 15px;
  background-color: #fff3f3;
  border-radius: 30px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  transform: translate(30%);
  text-align: center;
}
.email:focus {
  background-color: #fff;
  border-bottom: 2px solid tomato;
}
.mssg{
  margin: 0 auto;
  padding: 20px;
 	align-items: center;
}
textarea {
  background-color: #fff3f3;	
  color: black;
  padding: 18px 36px;
  text-align: center;
  display: block;
  font-size: 16px;
  width: 75%;
  border-radius: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  transform: translate(-100px);
}
	
textarea:focus {
  background-color: #fff;
  border-bottom: 2px solid tomato;
}

textarea:placeholder {
  color: #cccccc;
}

input{
  width: 100%;
  border:none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
label{
  margin-bottom: 6px;
  display: block;
}
.buttons{
  margin-right: 1	0px; 
  background:blue;
  width:80px;
  border:none;
  outline: none;
  color: #fff;
  height: 30px;
  border-radius: 30px;
  box-shadow:0px 5px 15px 0px rgba(28, 0, 181, 0.4);
}


/*-----------About------------*/
.features2{
	width: 80%;
	margin-left:160px;
	text-align: center;
	padding-top: 60px;
}
.under::after{
	content: '';
	color: tomato;
	width: 0%;
	height: 2px;
	display: block;
	margin: auto;
	background: #f44336;
}
.under:hover:after{
	width:30%;
	transition: 0.5s;
}
.rect{
	width: 768px;
	height: 420px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	margin-top: 40px;
	transform: translate(50%, 0%);
	background: center;
	background-color: white;
}
.rect h1{
	font-size: 20px;
	margin-top: 40px;
	color: tomato;
	text-align: center;
}
.rect p{
	width: 90%;
	text-align: center;
	margin-left: 30px;
	text-align: justify;
	text-justify: inter-word;
	padding: 20px;
}
.hero3-btn{
	text-align: center;
	width: 10%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	color: black;
	margin: 5% 40%;
	background: tomato;
	border-radius: 30px;
	text-decoration: none;
	
}
.hero3-btn:active{
	background-color: #0099ff;
}
.icons{
	display: inline-block;
	margin: 0% 40%;
	position: fixed;
}
div .fa{
	font-size: 30px;
	padding: 10px;
}

/*-----------Login/Register------------*/
.box{
  width: 380px;
  height: 450px;
  position: relative;
  margin:6% auto;
  background: ;
  padding: 5px;
  border: 2px solid red;
}
.box-login{
  width: 380px;
  height: 390px;
  position: relative;
  margin:6% auto;
  background: ;
  padding: 5px;
  border: 2px solid red;
}
.box-top{
  width: 300px;
  margin: 30px auto;
  position: relative;
  background: tomato;
  border-radius:20px;
  box-shadow: 0 0 20px 9px #ff612415;
}
.top-text{
	text-align: center;
	color: white;
	padding: 10px 30px;
}
.top-text h1{
	font-size: 20px;
}
.input-form{
	top: 100px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 10px;
	border: 1px solid red;
	border-radius: 30px;
	outline: none;
	text-align: center;
	background: transparent;
}

.submit-btn{
	width: 100%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 30px 10px;
	background: tomato;
	border-radius: 30px;
	text-decoration: none;
	align-items: center;
}
.submit-btn:active{
	background: #0099ff;
}
.messages p{
	font-size: 15px;
	text-align: center;
	color: rgb(255, 0, 0);
	margin: 0;
	margin-top: -12px;
	padding-left: 20px;
}
.messg-n p{
	font-size: 15px;
	text-align: center;
	color: rgb(255, 0, 0);
	margin: 0;
	margin-bottom: 12px;
}
/*---------------Lectures/attendance-----------*/
.course-coll{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box; 
  transition: 0.5s;
  transform: translate(110%);
}
.rowl {
  margin: 1px;
  display: flex;
  justify-content: space-between;
}
.text-l{
  text-align: center;
}
.text-l a, .text-l h3{
  color: tomato;
}
.table-at{
	width:50%;
	text-align: center;
	transform: translate(10%);
}
.submit-at{
	width: 10%;
	position: absolute;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	background: tomato;
	border-radius: 30px;
	transform: translate(450%, 1000%);
	text-decoration: none;
}
