{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Add lecture</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;600&display=swap" rel="stylesheet' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css' %}">
</head>
</head>
<body>
	<section class="lecture-head">
		<h1>Add a lecture</h1>
		<p>Conduct a new class</p>
	</section>
	<section class="lect-form">
		 <form action="add_lecture" method="post">
		 		{% csrf_token %}
	      <input type="text" id="name" class="input-field" name="name" placeholder="Lecture name" required>
	      <input type="submit" class="submit-btn" value="ADD">
	   </form>
   </section>
	
</body>
</html>